@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  font-family: 'Reyhaneh';
}

@media only screen and (min-width: 640px) {
  body {
    cursor: none;
  }
}


/* Webkit scrollbar */
::-webkit-scrollbar {
  width: 7px;
  height: 2px;
}

::-webkit-scrollbar-thumb {
  background-color: #241f1c;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Swiper */
.swiper-button-prev,
.swiper-button-next {
  transform: scale(0.7);
  -webkit-transform: scale(0.7);
  -moz-transform: scale(0.7);
  -ms-transform: scale(0.7);
  -o-transform: scale(0.7);
}

/* Sweet Alert */
.swal2-popup {
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}

.swal2-title {
  font-size: 1.5rem;
}

.swal2-confirm {
  background-color: #be9c79 !important;
}

.swal2-cancel {
  background-color: #1c1c1c !important;
}

.swal2-deny {
  background-color: #1c1c1c !important;
}

.swal2-timer-progress-bar {
  background-color: #1c1c1c !important;
}